# IMAGE VERSIONS
BITCOIN_VERSION=30.2
ELECTRS_VERSION=0.1.1
ESPLORA_FRONTEND_VERSION=0.1.0

# RPC CREDENTIALS
RPCUSER=devnet
RPCPASSWORD=devnet

# ESPLORA FRONTEND
ESPLORA_FLAVOR=bitcoin-mainnet
ELECTRS_HTTP_URL=http://electrs:3000
