# IMAGE VERSIONS
BITCOIN_VERSION=30.0
ELECTRS_VERSION=latest
ESPLORA_FRONTEND_VERSION=latest

# RPC CREDENTIALS
RPCUSER=devnet
RPCPASSWORD=devnet

# ESPLORA FRONTEND
ESPLORA_FLAVOR=bitcoin-mainnet
ELECTRS_HTTP_URL=http://electrs:3000
